@media only screen and (max-width: 480px) {
    body {background: transparent !important;}
    header h1, nav, main, footer {margin-left: 8pt !important;}
    header h1 {
        font-size: 28pt !important;
        background: black !important;
    }
    nav a:active, nav a:hover {transform: translateY(4px) !important;}
    div#discography > div {border: 1px solid black !important;}
    div.tbl > div {display: table-column !important;}
    .youtube {width: auto !important;}
}
@media print {
    body {background: transparent;}
    nav {display: none !important;}
    header h1, main, footer {margin-left: 8pt !important;}
    header, footer {background: transparent;}
    main {
        padding-left: 0pt !important;
        border-left: none !important;
    }
    header h1, footer p {color: black !important;}
    header h1 {letter-spacing: 10pt !important;}
    footer {border-top: 1px solid black;}
}
body {
    margin: 0px;
    counter-reset: ph_links;
    background-image: url(../images/bg3.jpg), url(../images/bg2.jpg), url(../images/bg1.jpg), url(../images/main_bg.jpg);
    background-size: 60pt, 60pt, 60pt, cover;
    background-attachment: fixed;
    background-position: 10pt 148pt, 10pt 78pt, 10pt 8pt, 0pt 0pt;
    background-repeat: no-repeat;
}
.gallery-item img {width: 100%;}
body.noscroll {overflow: hidden;}
a[target=gallery] {font-size: 16pt;}
a[target=gallery]::before {
    counter-increment: ph_links;
    content: counter(ph_links) ". ";
}
header h1 {
    font: bold 42pt Verdana, sans-serif;
    text-align: right;
    color: white;
    background-image: radial-gradient(closest-side at 25pt 50%, black, white, black, white, black);
    margin: 8pt 8pt auto 80pt;
    padding-right: 12pt;
    transform: skew(5deg, 0);
}
nav {
    margin: 10px 10px 10px 80pt;
    padding: 5px;
    border: 4px solid grey;
    font: bold 16pt Arial, sans-serif;
    display: flex;
    justify-content: space-between;

}
nav a {display:block;}
nav a:link, nav a:visited {
    color: black;
    text-decoration: none;
    transition-duration: 1s;
}
nav a:active, nav a:hover {
    color: white;
    background-color: rgb(79, 79, 116);
    text-decoration: none;
    transform: scale(1.2, 1.2) translateY(4px);
    transition-property: transform, color, background-color;
    transition-duration: 0.5s, 0.2s, 0.2s;
    transition-delay: 0s, 0.3s, 0.3s;
    transition-timing-function: linear, ease, ease;
}
nav div {
    color: grey;
}
main p {font: 12pt Arial, sans-serif;}
main {
    margin-left: 80pt;
    padding-left: 20pt;
    padding-right: 10pt;
    border-left-width: 20pt;
    border-left-style: solid;
    border-left-color: grey;
}
div.tbl {display: table;}
div.tbl > div {display: table-row;}
div.tbl > div > * {
    display: table-cell;
    vertical-align: middle;
}
div a {
    display: block;
    margin: 10px;
}
aside {
    float: right;
    margin: 20px 0px 20 px 20 px;
    padding: 5px;
    color: white;
    background-color: black;
    text-align: center;
}
div#discography {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div#discography > div {
    background-color: white;
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 120px;
    transform: rotate(5deg);
    transition: 0.2s linear;
}
div#discography > div:hover {
    transform: rotate(-5deg) translateY(-10px);
    transition: 0.1s linear;
}
figure {
    float: right;
    margin: 0px 0px 10px 20px;

}
footer p {
    text-align: right;
    color: white;
    background-color: grey;
    margin-left: 160px;
    margin-right: 10pt;
    padding: 5pt 10pt;
}
