/* header, main, footer {
    position: relative;
} */
nav {
    position: absolute;
    top: 0pt;
    right: 0pt;
    left: 0pt;
    height: 50px;
    display: flex;
    justify-content: center;
    /* opacity: 0; */
}
nav div, nav a {
    display: block;
    font-size: 20pt;
    padding: 10pt;
    color: white;
    font: 18pt Roboto, sans-serif;
}
nav a:link, nav a:visited {
    color: white;
    text-decoration: none;
}
nav a:active, nav a:hover {
    color: grey;
    text-decoration: none; 
}
#contact {
    background-color: rgb(32,37,41);
}
#contact > .container, #LI {
    color: white;
}
#back, #LI {
    text-decoration: none;
}
